.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
  max-width: 250px;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
@media (max-width: 767px) {
  .footer .box .links li {
    text-align: left;
    padding-left: 30px;
  }
  .footer .box .links li:hover {
    padding-left: 50px;
  }
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  content: ">";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .footer-gallery {
  width: 350px;
}
.footer .footer-gallery a img {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  margin: 2px;
  object-fit: contain;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
