/* Theme Switch Styles */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3498db; /* Color for when dark mode is active */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Icon Styles for Theme Switch */
.slider .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: white;
  pointer-events: none;
}

.slider .icon:first-child {
  left: 8px; /* Position for the moon icon */
}

.slider .icon:last-child {
  right: 8px; /* Position for the sun icon */
}

/* Display the correct icon */
input:not(:checked) + .slider .fa-moon {
  display: block;
}

input:checked + .slider .fa-sun {
  display: block;
}

input:not(:checked) + .slider .fa-sun,
input:checked + .slider .fa-moon {
  display: none;
}
